body{  background-color: cyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size-adjust: 14pxs;
    font-weight: bold;
}
hi{background-color: blue;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
text-align: center;
text-decoration: aqua;
color: aliceblue;
}

button{background-color: aqua;
margin: 24pxs;
align-self: center;
vertical-align: auto;
border-radius: 10px;
}
p{color: #be1e1e;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    align-self: auto;
    font: bold;
    background-color: aliceblue;}
    
    #email_button {color:orange;
        margin: 30px;
        align-self: center;
        background-color:blue;
        border: radius 30px;}
    #msg_button{color:blueviolet;
        margin:25px;
        align-self:center;
        background-color:rgb(126, 230, 8);
        border: radius 10px}